#
# Ethernet PHY
#
NET "E_RX_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "E_RX_CLK" LOC = "V3" | IOSTANDARD = LVCMOS33 ;
NET "E_RX_DV" CLOCK_DEDICATED_ROUTE = FALSE;
NET "E_RX_DV" LOC = "V2" | IOSTANDARD = LVCMOS33 ;
NET "E_RX_D<0>" LOC = "V8" | IOSTANDARD = LVCMOS33 ;
NET "E_RX_D<1>" LOC = "T11" | IOSTANDARD = LVCMOS33 ;
NET "E_RX_D<2>" LOC = "U11" | IOSTANDARD = LVCMOS33 ;
NET "E_RX_D<3>" LOC = "V14" | IOSTANDARD = LVCMOS33 ;
#NET "E_RX_ERR" LOC = "U14" | IOSTANDARD = LVCMOS33 ;

#NET "E_TX_CLK" LOC = "T7" | IOSTANDARD = LVCMOS33 ;
#NET "E_TX_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "E_TX_EN" LOC = "P15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "E_TXD<0>" LOC = "R11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "E_TXD<1>" LOC = "T15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "E_TXD<2>" LOC = "R5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "E_TXD<3>" LOC = "T5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "E_TXD<4>" LOC = "R6" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

#NET "E_COL" LOC = "U6" | IOSTANDARD = LVCMOS33 ;
#NET "E_CRS" LOC = "U13" | IOSTANDARD = LVCMOS33 ;
#NET "E_MDC" LOC = "P9" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "E_MDIO" LOC = "U5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
