//! **************************************************************************
// Written by: Map P.68d on Mon Aug 18 22:22:43 2014
//! **************************************************************************

SCHEMATIC START;
COMP "E_TX_EN" LOCATE = SITE "P15" LEVEL 1;
COMP "E_TX_CLK" LOCATE = SITE "T7" LEVEL 1;
PIN E_TX_CLK_pin<0> = BEL "E_TX_CLK" PINNAME PAD;
PIN "E_TX_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "VGA_B" LOCATE = SITE "G15" LEVEL 1;
COMP "VGA_G" LOCATE = SITE "H15" LEVEL 1;
COMP "VGA_R" LOCATE = SITE "H14" LEVEL 1;
COMP "ROT_A" LOCATE = SITE "K18" LEVEL 1;
COMP "ROT_B" LOCATE = SITE "G18" LEVEL 1;
COMP "test<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "test<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "test<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "test<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "test<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "test<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "test<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "test<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "F15" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "F14" LEVEL 1;
COMP "E_TXD<0>" LOCATE = SITE "R11" LEVEL 1;
COMP "E_TXD<1>" LOCATE = SITE "T15" LEVEL 1;
COMP "E_TXD<2>" LOCATE = SITE "R5" LEVEL 1;
COMP "E_TXD<3>" LOCATE = SITE "T5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

